*,html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
body{
  background-color: #EFFBFF;
  min-height: 100vh;

}
.container{
  margin: 0 10vw;
}
.navbar{
  width: 100%;
  height: 20vh;
}
.navbar ul{

  list-style: none;
}
.navbar ul li{
  float: left;
  margin-top: 8vh;
}
.navbar ul li > *{
  display: block;
}

.menu{
  margin-right: 5vw;
  cursor: pointer;
}
.menu div{
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px 0;
}
.nav-logo{
  font-size: 25px;
  margin-right: 5vw;
  letter-spacing: 2px;
  cursor: pointer;
}
.nav-search{
  float: left;
}
.nav-search input{
  background-color: white;
  width: 30vw;
  padding: 10px;
  border: none;
  outline:none;
  border-radius: 10px;
  letter-spacing: 2px;
}

.nav-search button{
  position: relative;
  float: right;
  background-color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin-left: -15px;
  outline: none;
  cursor: pointer;
}
.right-nav{
  float: right;
}
.right-nav li{
  margin-left: 3vw;
  font-size: 25px;
  cursor: pointer;
}
.right-nav li:last-child{
  margin-left: 0;
}

.mySlides {
  display: none
}
.mySlides img,
.product img {
  vertical-align: middle;
  height: 60vh;
  border-radius: 15px;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 10vw;
  border-radius: 3px 0 0 3px;
}

/* The dots/bullets/indicators */
.dot-slider{
  margin-top: -30px;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin-left: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.categories, .category-list{
  margin: 4vh 0;
  display: inline-block;
}
.categories li{
  float: left;
  list-style: none;
  margin-right: 5vw;
  background-color: white;
  border-radius: 15px;
  padding: 10px 20px;
  font-size: 20px;
  margin-top: 5px;
  cursor: pointer;
  border: 2px solid #E6F4F1;
}
.categories li a{
  text-decoration: none;
  color: black;
}
.products{
  margin: 0;
}
.products-category-title{
  font-size: 40px;
  font-weight: 300;
}
.products-grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5vh 0;
}
.product{
  margin: 0 2vw 10vh 0;
  /* border: 2px solid #E6F4F1; */
  padding: 10px;
  border-radius: 15px;
  background-color: #E6F4F1;
  box-shadow: 0 3px 10px rgba(0,0,0,0.09);
}
.product:hover{
  transform: scale(1.2);
  transition: all 0.5s ease-out;
}
.product:first-child{
  margin-right: 2vw;
}
.product img{
  height: 25vh;
}
.product-name{
  margin: 2vh 0;
  font-size: 18px;
}
.product-details{
  font-size: 15px;
  display:inline-block;
}
.left{
  float: left;
  text-align: left;
}
.right{
  margin-left: 60px;
  float: right;
  text-align: right;
}
.buy-button
.btn-buy{
  padding: 5px 10px;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.1);
  font-size: 12px;
  background-color: #7FD1AE;
  border: none;
  border-radius: 15px;
  outline: none;
  cursor: pointer;
  margin-left: 45px;
}
.btn-buy:active{
  box-shadow: 0px 3px 3px rgba(0,0,0,0.09);
}
.sponsers{
  margin: 0 0 4vh 0;
}
.sponsers-grid{
  margin: 4vh 0;
}
.row,.row-footer{
  margin-top: 4vh;
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.column, .column-footer{
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}
.column img{
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
.footer{
  background-color: #323C3F;
  padding: 5vh 10vw;
  color: #effbff;
}
.row-footer{
  border-bottom: 1px solid #eefbff;
}
.para-footer{
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 18px;
}
.list-footer{
  font-size: 15px;
  padding: 3vh 1vw;

}
.list-footer li{
  list-style: circle;
  padding: 5px 0;
}
.list-footer li:last-child{
  padding:0;
}
.list-footer li span{
  padding-left: 15px;
  font-weight: 300;
}
.list-footer li a{
  text-decoration: none;
  color: #effbff;
  font-weight: 300;
}
.list-footer:last-child li{
  padding: 10px 0;
}
.copyright{
  margin: 5vh 0 -1vh 0;
  font-size: 15px;
  font-weight: 300;
  display: block;
}
.left-copy{
  float: left;
  margin-top: -2vh;
}
.right-copy{
  float: right;
  margin-top: -2vh;
}
.right-copy ul li{

  list-style: none;
  display: inline;
  padding: 0 1vw;
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
